* text=auto eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.dbc text eol=lf
*.idl text eol=lf
*.png binary
*.jpg binary
*.pdf binary
*.onnx binary
*.pt binary
*.pth binary
*.engine binary
*.plan binary
